.tagcloud {

    ul {
        li {
            display: inline-block;
            margin: 1px;
            padding: 0;
            margin-bottom: 3px;


            a {
                padding: .1rem 0.2rem;
                background-color: $color-body-theme;
                color: #eee;
                display: block;
                font-size: 1rem;


                &:hover {
                    text-decoration: underline !important;
                    line-height:20px;
                }
            }
        }
    }
}
