
html {
    font-size: 1em;
}

body,
html {
    height: 100%;
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    background: $color-body-left;
    cursor: default;
    overflow-y: scroll;
    padding-top: .2rem;
}

.main-container {
    /*background: #fff;*/
    height: 100%;
}

.top-cover {
    height: 48px;
    padding-top: 0;
    background: tranparent;
    float: none;
}
// typography
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1rem;
    font-family: $font-family-heading;
    font-weight: $font-weight-bold;
}

a {
    color: $color-theme;
    text-decoration: none !important;

    &:hover {
        color: darken($color-theme, 10%);
    }
}

p {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}

.brand-container {
    width: 20rem;
    max-width: 20rem;
    min-width: 20rem;
    margin-top: 15px;
    text-align: center;
    font-family: $font-family-heading;
    font-weight: normal;
}


.navbar-inverse .navbar-collapse {
    background: $color-body-left none repeat scroll 0 0;
    border-color: #101010;
    margin: 0;
    min-height: 60px;
    min-width: 1000px;
    padding: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 4px 6px 2px;
}

.navbar-inverse .navbar-brand {
    font-weight: $font-weight-normal;
    font-size: 2rem;
    float: none;
    width: 10rem;
    height: 50px;
    color: $color-widget-header;
    background: $color-body-left;
    padding: 0;
    margin: 0;
    padding-top: 40px;
    vertical-align: central;
}



.navbar-brand:hover {
    color: darken($color-widget-header, 20%) !important;
}
// container
.container {
    width: 100%;
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
    background: #fff;
}

.nav-container {
    float: right;
    color: $color-post-heading;
    background: $color-body-left;
    height: 80px;
    width: 80rem;
}

.main-nav {
    float: left;
    background: $color-body-left;
    font-family: $font-family-condensed;
    font-weight: $font-weight-medium;
    margin-right: 250px;
}

.navbar-inverse .navbar-nav > li > a {
    color: $color-post-heading !important;
    height: 50px;
    background: $color-body-left;
}

.navbar-header {
    background: $color-body-left;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: darken($color-post-heading, 20%) !important;
}

.well-global, #trackbacks {
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 0px;
    -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    /*border-bottom: 2px inset $color-body-left;*/
}

.well-global .well-global-title {
    margin: 0;
    font-weight: normal;
    font-size: 28px;
    padding: 0 0px;
    border-bottom: 1px dotted $color-theme;
    line-height: 3rem;
    color: $color-form-header;
    margin-bottom: 20px;
}

.well-global .well-global-title h3 {
    margin: 0;
    font-weight: normal;
    line-height: 50px;
    color: $color-widget-header;
}

.page-global {
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 0px;
    -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    padding: 20px;
    min-height: 100%;
    width: 100%;
    border: 7px solid #ddd;
    margin-left: 1px;
    margin-top: 10px;
    text-align: justify;
}

.page-global .page-global-title {
    border-bottom: 1px solid $color-theme !important;
    margin: 0 0 20px 0 !important;
    padding-bottom: 1rem !important;
    font-weight: bold !important;
    font-size: 2.0rem !important;
    color: $color-widget-header;
}

.comment {
    border: 7px solid #ddd;
}

.menu-container {
    width: 80rem;
    padding: 0;
    margin: 0;
}



// blog-wrapper
.blog-wrapper {
    display: table;
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
    text-align: justify;

    > .blog-sidebar,
    > .blog-content,
    > .blog-sidebar-bottom,
    > .blog-ad-bar {
        display: table-cell;
        vertical-align: top;
    }

    > .blog-sidebar,
    > .blog-sidebar-bottom {
        width: 20rem;
        min-width: 20rem;
        max-width: 20rem;
    }

    > .blog-content {
        padding-left: .2rem;
        min-width: 100%;
        width: 100%;
    }

    > .blog-sidebar-bottom {
        display: none;

    }

    > .blog-ad-bar {
        background: #ccc;
        height: 100%;
        width: 20%;
        min-width: 20%;
        margin-left: 0;
        padding-top: 50px;
        border-right: 7px solid #ddd;

        > .ad-title {
            background: $color-body-theme;
            color: $color-widget-header;
            padding: 10px;
            vertical-align: central;
            text-align: center;
            margin-bottom: 0;
        }

        > .ad-content {
            margin: 5px auto;
            height: 100%;
            padding: 5px 0px;
            background: transparent;
            float: none;
            vertical-align: central;
            text-align: center;
            border-bottom: 3px solid #333;
        }

        > .blog-sidebar .top-cover {
            display: block !important;
        }
    }


    .blog-footer,
    .blog-header,
    .widgetzone {
        max-width: 20rem;
    }

    .blog-sidebar {
        background: $color-body-left;
    }

    .blog-ad-bar ad-section {
        width: 100%;
    }


    @media screen and (max-width: 80rem) {
        > .blog-sidebar,
        > .blog-ad-bar {
            width: 20%;
            min-width: 20%;
        }

        .blog-wrapper {
            width: 60%;
        }

        > .blog-sidebar .blog-header,
        > .blog-sidebar .widgetzone {
            width: 15.625rem;
        }
    }

    @media screen and (max-width: 64rem) {
        > .blog-content {
            padding-left: 1rem;
        }

        > .blog-sidebar,
        > .blog-ad-bar {
            width: 20%;
            min-width: 20%;
        }

        .blog-wrapper {
            width: 60%;
        }

        > .blog-sidebar .blog-header,
        > .blog-sidebar .widgetzone {
            width: 15.625rem;
        }
    }

    @media screen and (max-width: 50rem) {
        display: block;

        .blog-footer,
        .blog-header,
        .widgetzone {
            max-width: none;
        }

        > .blog-ad-bar {
            display: block;
        }

        > .blog-sidebar {
            .widgetzone {
                display: none;
            }

            .blog-footer {
                display: none;
            }
            
        }
        >.blog-sidebar-bottom{
            display:block;
            background: $color-body-theme;
            width: 100%;
            .widgetzone{
                width:100%;
            }
        }
        > .blog-content,
        > .blog-sidebar,
        > .blog-ad-bar {
            display: block;
            vertical-align: top;
            padding: 0;
            min-width: 100%;
            width: 100%;
        }

        .top-cover {
            display: none;
        }

        > .blog-sidebar .top-cover {
            display: block;
        }
    }
}

@media screen and (max-width: 64rem) {
    body {
        padding-top: 1rem;
    }


    .container {
        padding-right: .2rem;
        padding-left: .2rem;
    }
}
