// direction
$dir-ltr: ltr;
$dir-rtl: rtl;

// colors
$color-theme: #23b1f7;

$color-success: #19cf86;
$color-danger: #e81c4f;
$color-warning: #f6bb42;
$color-primary: #23b1f7;
$color-info: #5bc0de;

// fonts
$font-family-roboto: "Open Sans";
$font-family-base: $font-family-roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 1.125rem;
$line-height-base: 1.8;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

// nav
$nav-size: 2rem;

// logo
$logo-size: 2rem;